Overview:

SaaS product for a company to engage with their customers and employees.

3 main aspects:

1. Community building

- Sasta linkedin for the organization
- Ability to pin posts, and have tags for filtering capability
- Tag users using '@' keyword

2. Employee engagement

- Management system, schedule and complete tasks (calendar type)
- Admin and user logins
- Rewards system for completion of training and stuff

3. Client Servicing

- Invoice, raise service request, track ongoing project in real time, feedback, and showcase section for the clients (customer support kinda website)

-- Deliverable --

4 login platforms: Leadership (Super admin), Managers (Admin), Employees, Customers
- Employees should be doing tasks assigned to them by Managers. Can redeem their rewards (point shop or something)
- Managers can allocate rewards for these activities, and provide feedback
- Leadership can review the dashboard displaying percentage of activities done, post content and announcements
- Customers should be able to see different services we can cater to them and its price ranges. Get invoices and stuff

-- Deadlines --

29th July:
- Product capability roadmap and road maps (PM)
- Addressable market analysis (PM)
- Information Architecture
- Low fidelity wireframe (UI/UX)

5th Aug:
- User navigation screen recording (all 4 user types)
- Link to access the platform (host)
- Detailed user guide

-- Roles

Product Management - Suraj and Swagnikk
Front end development - Gaurav and Swagnikk
Back end development - Ojha and Shivansh
UI/UX Design - Gaurav
DevOps - Shivansh