.landing-container {

    // .heading {
    //     position: sticky;
    // }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    
    .hero {
        height: 100vh;
        background-color: blue;
        margin-bottom: 70px;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 15px;
        display: block;
    }

    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        // grid-auto-rows: minmax(100px, auto);
        margin-left: 256px;
        margin-right: 256px;

        .row-content {
            grid-column: 1 / 2;
            grid-row: 1;
        }

        .image {
            grid-column: 2;
            grid-row: 1;
            height: 100px;
            background-color: greenyellow;
        }
    }
}