.landing-container {

    // .heading {
    //     position: sticky;
    // }
    background-color: #f1f5f8;

    .hero {
        height: 100vh;
        background-color: blue;
        margin-bottom: 70px;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 15px;
        display: block;
        margin-left: 256px;
    }

    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin: 25px 256px 150px 256px;

        .about-content {
            grid-column: 1 / 2;
            grid-row: 1;
            margin-top: 75px;
        }

        .about-image {
            grid-column: 2;
            grid-row: 1;
            height: 250px;
            background-color: greenyellow;
        }

        .mission-image {
            grid-column: 1 / 2;
            grid-row: 1;
            height: 250px;
            background-color: greenyellow;
        }

        .mission-content {
            grid-column: 2;
            grid-row: 1;
            margin-top: 75px;
        }
    }
}